<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../css/player.css">
    <link rel="stylesheet" href="../lib/chui-android-3.9.2.css">
    <script src="../lib/jquery-3.1.0.js"></script>
    <script src="../lib/chui-3.9.2.js"></script>
    <title>Cards in hand</title>
</head>
<body>
<nav class="pg2">
</nav>

<article id="main" class="pg2">
    <section>
        <div class="container">
            <ul>
                <li class="first"><img src="../images/BlueNormal0.png"></li>
                <li class="second"><img src="../images/BlueNormal7.png"></li>
                <li class="third"><img src="../images/BlueTakeTwo20.png"></li>
                <li class="fourth"><img src="../images/GreenReverse20.png"></li>
                <li class="fifth"><img src="../images/YellowNormal3.png"></li>
                <li class="sixth"><img src="../images/RedSkip20.png"></li>
                <li class="seventh"><img src="../images/WildCard50.png"></li>
            </ul>
        </div>
    </section>
</article>

</body>
</html>